$hf-container-bg: #eeeeee;
$hf-bar-bg: #2ecc71;
$hf-height: 7px;

.reading-progress {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: $hf-height;
  background: $hf-container-bg;

  .reading-progress-bar {
    height: 100%;
    background: $hf-bar-bg;
    transform-origin: 0 0;
    transform: scaleX(0);
  }
}
